[Unit]
Description=Wi-Fi Sniffer Monitor Mode and Python Script
After=network.target multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/start_wifi_sniffer.sh
WorkingDirectory=/home/census1/Roskilde-Projekt/
Environment="PYTHONUNBUFFERED=1"
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target